.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.title-header {
  margin: 0;
  padding: 0;
}

.nav-header {
  display: flex;
  align-items: center;
}

.link {
  color: #333333;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.active-link {
  border-bottom: 2px solid #333333;
}
