<div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
  <app-simple-widgets icon="payments" background_icon="blue">
    <span ngProjectAs="widget-title">Today's Users</span>
    <span ngProjectAs="widget-value">2,300</span>
    <span ngProjectAs="widget-description"
      ><strong class="text-green-500">+25%</strong>&nbsp;than last week</span
    >
  </app-simple-widgets>
  <app-simple-widgets icon="person" background_icon="pink">
    <span ngProjectAs="widget-title">Today's Users</span>
    <span ngProjectAs="widget-value">2,300</span>
    <span ngProjectAs="widget-description"
      ><strong class="text-green-500">+3%</strong>&nbsp;than last week</span
    >
  </app-simple-widgets>
  <app-simple-widgets icon="group_add" background_icon="green">
    <span ngProjectAs="widget-title">New Clients</span>
    <span ngProjectAs="widget-value">3,462</span>
    <span ngProjectAs="widget-description"
      ><strong class="text-red-500">-2%</strong>&nbsp;than yesterday</span
    >
  </app-simple-widgets>
  <app-simple-widgets icon="signal_cellular_alt" background_icon="orange">
    <span ngProjectAs="widget-title">Sales</span>
    <span ngProjectAs="widget-value">$103,430</span>
    <span ngProjectAs="widget-description"
      ><strong class="text-green-500">+5%</strong>&nbsp;than yesterday</span
    >
  </app-simple-widgets>
</div>

<div
  class="w-full relative flex flex-col bg-clip-border rounded-xl text-gray-700 overflow-hidden"
>
  <div
    class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6 bg-white"
  >
    <div>
      <h6
        class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1"
      >
        Projects
      </h6>
      <p
        class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          aria-hidden="true"
          class="h-4 w-4 text-blue-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 12.75l6 6 9-13.5"
          ></path>
        </svg>
        <strong>30 done</strong> this month
      </p>
    </div>
    <button
      aria-expanded="false"
      aria-haspopup="menu"
      id=":r5:"
      class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30"
      type="button"
    >
      <span
        class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currenColor"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          aria-hidden="true"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
          ></path>
        </svg>
      </span>
    </button>
  </div>
  <!-- Table -->
  <table class="w-full min-w-[640px] table-auto">
    <thead>
      <tr>
        <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
          <p
            class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"
          >
            companies
          </p>
        </th>
        <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
          <p
            class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"
          >
            budget
          </p>
        </th>
        <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
          <p
            class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"
          >
            completion
          </p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="flex items-center gap-4">
            <p
              class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
            >
              Material XD Version
            </p>
          </div>
        </td>

        <td class="py-3 px-5 border-b border-blue-gray-50">
          <p
            class="block antialiased font-sans text-xs font-medium text-blue-gray-600"
          >
            $14,000
          </p>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="w-10/12">
            <p
              class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600"
            >
              60%
            </p>
            <div
              class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1"
            >
              <div
                class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white"
                style="width: 60%"
              ></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="flex items-center gap-4">
            <p
              class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
            >
              Add Progress Track
            </p>
          </div>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <p
            class="block antialiased font-sans text-xs font-medium text-blue-gray-600"
          >
            $3,000
          </p>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="w-10/12">
            <p
              class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600"
            >
              10%
            </p>
            <div
              class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1"
            >
              <div
                class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white"
                style="width: 10%"
              ></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="flex items-center gap-4">
            <p
              class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
            >
              Fix Platform Errors
            </p>
          </div>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <p
            class="block antialiased font-sans text-xs font-medium text-blue-gray-600"
          >
            Not set
          </p>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="w-10/12">
            <p
              class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600"
            >
              100%
            </p>
            <div
              class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1"
            >
              <div
                class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white"
                style="width: 100%"
              ></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="flex items-center gap-4">
            <p
              class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
            >
              Launch our Mobile App
            </p>
          </div>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <p
            class="block antialiased font-sans text-xs font-medium text-blue-gray-600"
          >
            $20,500
          </p>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="w-10/12">
            <p
              class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600"
            >
              100%
            </p>
            <div
              class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1"
            >
              <div
                class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white"
                style="width: 100%"
              ></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="flex items-center gap-4">
            <p
              class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"
            >
              Add the New Pricing Page
            </p>
          </div>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <p
            class="block antialiased font-sans text-xs font-medium text-blue-gray-600"
          >
            $500
          </p>
        </td>
        <td class="py-3 px-5 border-b border-blue-gray-50">
          <div class="w-10/12">
            <p
              class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600"
            >
              25%
            </p>
            <div
              class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1"
            >
              <div
                class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white"
                style="width: 25%"
              ></div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
