<div
  class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
>
  <div
    class="bg-clip-border mx-4 rounded-xl overflow-hidden text-white shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center"
    [ngClass]="backgroundColorClass"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      [fontIcon]="icon"
    >
    </mat-icon>
  </div>
  <div class="p-4 text-right">
    <p
      class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600"
    >
      <ng-content select="widget-title"></ng-content>
    </p>
    <h4
      class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900"
    >
      <ng-content select="widget-value"></ng-content>
    </h4>
  </div>
  <div class="border-t border-blue-gray-50 p-4">
    <p
      class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600"
    >
      <ng-content select="widget-description"></ng-content>
    </p>
  </div>
</div>
