<aside
  class="bg-gradient-to-br from-dark to-dark_light -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
>
  <div class="relative border-b border-white/20">
    <a class="flex items-center gap-4 py-6 px-8" routerLink="/inizio">
      <h6
        class="block antialiased tracking-normal font-sans font-semibold leading-relaxed text-white text-xl"
      >
        Gestionale Clienti
      </h6>
    </a>
  </div>
  <div class="m-4">
    <ul class="mb-4 flex flex-col gap-1">
      <li>
        <a aria-current="page" routerLink="/inizio">
          <button
            routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20"
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-5 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
            type="button"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="home"
            >
            </mat-icon>

            <span
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
            >
              inizio
            </span>
          </button>
        </a>
      </li>
      <li>
        <a class="" routerLink="/clienti">
          <button
            routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20"
            class="middle none font-sans font-bold center text-white transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-5 rounded-lg hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
            type="button"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="groups"
            >
            </mat-icon>
            <span
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
            >
              clienti
            </span>
          </button>
        </a>
      </li>
      <li>
        <a class="" routerLink="/fatture">
          <button
            routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20"
            class="middle none font-sans font-bold center text-white transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-5 rounded-lg hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
            type="button"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="receipt_long"
            >
            </mat-icon>
            <span
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
            >
              fatture
            </span>
          </button>
        </a>
      </li>
    </ul>
    <ul class="mb-4 flex flex-col gap-1">
      <li class="mx-3.5 mt-4 mb-2">
        <p
          class="block antialiased font-sans text-sm leading-normal text-white font-black uppercase opacity-75"
        >
          auth pages
        </p>
      </li>
      <li>
        <a class="" href="#">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-5 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
            type="button"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="login"
            >
            </mat-icon>
            <span
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
            >
              sign in
            </span>
          </button>
        </a>
      </li>
      <li>
        <a class="" href="#">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-5 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
            type="button"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="person_add"
            >
            </mat-icon>
            <span
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
            >
              sign up
            </span>
          </button>
        </a>
      </li>
    </ul>
  </div>
</aside>
